doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href='/style.css')
  body#js-body(class=buzzes.length > 0 ? `winner-${buzzes[0].team.toLowerCase()}` : '')
    header
      img.logo(src='/buzzer-logo.svg')

    div.container
      h2.js-active=`${users.length} joined`
      ol.js-buzzes
        each buzz in buzzes
          li!=`<b>${buzz.name}</b> on <b>Team ${buzz.team}</b> <span class='buzz-time'>${buzz.buzzTimeDisplay}</span>`
      button.js-clear='Clear buzzes'

    script(src='/socket.io/socket.io.js')
    script(src='/host.js')
